#animated-title {
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  img {
    width: 100%;
  }
  div {
    position: absolute;
    bottom: -50px;
    width: 100%;
    background: rgba(0,48,23,0.8);
    padding: 0 0.75rem;
    height: 50px;
    transition: bottom 0.63s ease-out;
    svg {
      display: inline-block;
      vertical-align: middle;
      fill: #fff;
      width: 40px;
      margin-right: 0.5rem;
    }
    h2 {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.6rem;
      margin: 0;
      color: #fff;
    }
  }
  &.visible {
    div {
      bottom: 0;
    }
  }
}