.site-wrapper {
  min-height: 100%;
  background: #f9f9f9;
  margin: 0 auto;
  margin-bottom: -150px;
  padding: 0 1rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

@media (min-width: 768px) {
  .site-wrapper {
    max-width: 768px;
  }
}

@media (min-width: 960px) {
  .site-wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1152px) {
  .site-wrapper {
    max-width: 1152px;
  }
}